pytest==8.4.1
requests==2.32.4
python-dotenv==1.1.1
numpy==1.26.4
matplotlib==3.10.5
pandas==2.3.1
scikit-learn==1.7.1
docling==2.43.0
docling-core[chunking-openai]==2.43.0
openai==1.102.0
mistralai==1.9.10
langchain-core==0.3.75                                                                                                                                                                                                       
langchain-text-splitters==0.3.11
langchain-docling==1.0.0